@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");
:root {
  --color-primary: rgba(86, 214, 194);
  --color-secondary: rgba(249, 186, 53);
  --color-dark: rgba(0, 0, 0);
  --color-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px, 10px/16px = 62.5% */
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Gaegu", cursive;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--color-dark);
  height: 100vh;
  background-image: url(../img/singstreet-poster.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(to right bottom, rgba(86, 214, 194, 0.9), rgba(249, 186, 53, 0.9));
  box-shadow: 10px 10px 30px rgba(55, 55, 55, 0.9);
  padding: 3rem;
  width: 120rem;
  height: 90%;
  display: flex;
}
@media only screen and (max-width: 75em) {
  .container {
    height: 100%;
  }
}
@media only screen and (max-width: 62.5em) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 50em) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }
}

.sidebar {
  flex-basis: 35rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-right: 3rem;
}
@media only screen and (max-width: 50em) {
  .sidebar {
    margin-right: 0rem;
  }
}

.titlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.titlebox__image {
  width: 7rem;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 50em) {
  .titlebox__image {
    width: 3.6rem;
    transform: translate(0, 4px);
  }
}
@media only screen and (max-width: 21.88em) {
  .titlebox__image {
    width: 7rem;
  }
}
.titlebox__heading {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--color-white);
  text-shadow: 1px 1px 1px var(--color-secondary), 1px 2px 1px var(--color-secondary), 1px 3px 1px var(--color-primary), 1px 4px 1px var(--color-primary), 1px 5px 1px var(--color-secondary), 1px 6px 1px var(--color-secondary), 1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4), 1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2);
}
@media only screen and (max-width: 50em) {
  .titlebox__heading {
    flex-direction: row;
  }
}
@media only screen and (max-width: 50em) {
  .titlebox__heading > span:first-child {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 21.88em) {
  .titlebox__heading {
    flex-direction: column;
    margin-right: 0;
  }
}

.placelists {
  flex: 0 1 auto;
  list-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.placelists::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 50em) {
  .placelists {
    flex-direction: row;
  }
}

.placelist {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1.7rem;
}
@media only screen and (max-width: 50em) {
  .placelist {
    height: 27rem;
  }
}
.placelist:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.placelist:hover > .placelist__box > .placelist__name {
  color: var(--color-secondary);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.placelist__box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 50em) {
  .placelist__box {
    width: 23rem;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }
  .placelist__box::-webkit-scrollbar {
    width: 0;
  }
}
.placelist__image {
  height: 13rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
.placelist__name {
  align-self: center;
  font-size: 2.4rem;
  color: var(--color-white);
  text-shadow: 1px 0.6rem 0.6rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.placelist__address {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.placelist__button {
  align-self: stretch;
  margin-top: 2rem;
  padding: 0.5rem;
  border: none;
}
@media only screen and (max-width: 62.5em) {
  .placelist__button {
    font-size: 60%;
  }
}
@media only screen and (max-width: 50em) {
  .placelist__button {
    font-size: 45%;
  }
}
.placelist__button:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.placelist__button:active {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.footer {
  align-self: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .footer {
    position: fixed;
    bottom: 0px;
    margin-bottom: 2.5rem;
  }
}
.footer__image {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin-left: 1rem;
}
.footer:link, .footer:visited {
  text-decoration: none;
  color: var(--color-white);
  text-shadow: 1px 0.6rem 0.6rem rgba(0, 0, 0, 0.5);
}
.footer:hover, .footer:active {
  color: var(--color-primary);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.small {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: blur(1px);
}

#map {
  flex: 1;
  height: 100%;
}
@media only screen and (max-width: 50em) {
  #map {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
  }
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.3rem;
}

.visited .leaflet-popup-content-wrapper {
  border-left: 5px solid darkolivegreen;
}

.unvisited .leaflet-popup-content-wrapper {
  border-left: 5px solid rgb(180, 57, 57);
}

/*# sourceMappingURL=style.comp.css.map */
